.listItem {
  font-size: 1.13em;
}

.listItemLink {
  display: inline-block;
  width: 100%;
  padding: 0.5856em 1.1712em;
  opacity: 1;
  font-size: 0.9em;
  letter-spacing: 1px;
  transition: all 0.3s ease;

  &:hover,
  &:focus,
  &:active {
    .listItemIcon,
    .listItemImageIcon,
    img {
      transform: rotate(360deg);
    }
  }
}

.listItemIcon {
  margin-top: -2px;
  margin-right: 0.55em;
  transition: all 0.4s ease;
}

.listItemImageIcon {
  max-width: 28px;
  margin-right: 9px;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.4s ease;
}

.isSticky {
  display: inline-block;
  margin-bottom: 0.9212em;
  @media (min-width: 600px) {
    display: block;
  }

  .listItemLink {
    padding-left: 0.25em;
    padding-right: 0.25em;

    &.iconTtLink {
      padding-right: .5em;
    }

    @media (min-width: 600px) {
      padding: 0 1.1712em 0 .5em;
      opacity: .8;

      &.iconTtLink {
        padding-left: 0;
      }
    }

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
      .listItemIcon,
      .listItemImageIcon {
        transform: rotate(360deg);
      }
    }

  }
  .text {
    display: none;
  }
}
