.listItem {
  font-size: 1.13em;
}

.listItemLink {
  display: inline-block;
  width: 100%;
  padding: 0.5856em 1.1712em;
  padding-left: 0;
  opacity: 0.9;
  font-size: 0.9em;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.listItemIcon {
  margin-top: -2px;
  margin-right: 0.55em;
  transition: all 0.4s ease;
}
