.heading {
  margin-bottom: 1em;
}

.subText {
  font-size: 1.1em;
}

.listItem {
  font-size: 1.3em;
}

.group {
  margin-bottom: 4em;
}

.groupMultiple {
  margin-bottom: 5em;
}
  
.groupHeading {
  text-transform: initial;
  font-size: 1.2em;
  margin-bottom: 1.1em;
  letter-spacing: 0;
}

.listItemNested {
  margin-bottom: 1em;
}
