.bmCrossButtonContainer {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
}

.bmCrossButton {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  background: transparent;
  cursor: pointer;
  &:hover,
  &:focus {
    background: none;
  }
}

.spanContainer {
  position: absolute;
  top: 1em;
  right: 2.2em;
}

.span {
  background: #FFF;
  position: absolute;
  width: 3px;
  height: 32px;
}

.span1 {
  transform: rotate(45deg);
}

.span2 {
  transform: rotate(-45deg);
}
