.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.listItem {
  max-width: 50%;
  padding: 1em;
  overflow: hidden;
  cursor: pointer;
  @media (min-width: 768px) {
    max-width: 33.333%;
    max-height: 200px;
  }
  @media (min-width: 900px) {
    max-width: 25%;
    max-height: 200px;
  }
}

.listItemImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all .4s ease;
  opacity: .85;
  &:hover {
    transform: scale(1.1);
    opacity: 1;
  }
}
