@import '../../styles/mixins.scss';

.footer {
  clear: both;
  width: 100%;
  overflow-x: hidden;
  z-index: 3;
  position: relative;
}

.container {
  transform: skew(-18.3deg);
  margin-top: 3em;
  margin-right: 55px;
  float: right;
  width: 361px;
  max-width: 361px;
  background: #0B0B0B;
}

.containerInner {
  transform: skew(18.3deg) !important;
  margin-right: -72px;
  margin-left: 0;
  float: right;
  padding-right: 40px;
  min-width: 319px;
  max-width: 319px;
  padding: 2.5em 1.7568em 1.5em 0;
  background: #0B0B0B;
}

.heading {
  @include h4;
  padding-left: 0.5856em;
}

.emailUpdatesHeading {
  margin-top: 2em;
  font-size: .825em;
  padding-left: 1.3em;
}

.emailUpdatesLink {
  font-size: 1.2em;
  letter-spacing: 1px;
}

.privacyPolicyLink {
  opacity: 0.5;
  font-size: 0.85em;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  text-align: right;
  margin-top: 5em;
  margin-bottom: 0;
  padding: 0 1.1712em;
}
