.container {
  margin-bottom: 2.3424em;
  @media (min-width: 768px) {
    margin-bottom: 1.1712em;
  }
}

.heading {
  font-size: 1.3em;
  @media (min-width: 768px) {
    display: none;
  }
}

.list {
  clear: both;
  padding-left: 1.1712em;
  clear: both;
  color: #E4E4E4;
  padding: 1.1712em;
  padding-left: 2.3424em;
}

.listWithBackground {
  background: #080808;
}

.listOl {
   list-style-type: number;
}

.listDl {
   list-style-type: square;
}
  
.listItem {
  padding-bottom: 0.5856em;
  color: #c5c5c5;
  &:last-child {
    padding-bottom: 0;
  }
}

.listItemInner {
  color: #E4E4E4;
}
