.link {
  padding: 0.5856em 1.1712em;
  margin: 1.1712em auto;
  border: solid 1px #FFF;
  color: #FFF;
  border-radius: 8px;
  background-color: #000;
  display: block;
  opacity: 0.7;
  transition: all 0.2s ease;
  max-width: 170px;
  text-align: center;
  &:hover,
  &:focus {
    opacity: 1;
    text-decoration: underline;
  }
  @media (min-width: 768px) {
    display: inline-block;
    margin-right: 0.5856em;
    margin-left: 0;
    margin-bottom: 50px;
    max-width: 155px;
  }
}
