.container {
  float: none;
  display: block;
  width: 100%;
  margin: 0 auto 2.3424em auto;
  @media (min-width: 600px) {
    text-align: center;
    max-width: 600px;
  }
  @media (min-width: 850px) {
    text-align: left;
    max-width: 100%;
    margin-top: 1.1712em;
  }
}

.listItem {
  margin-right: auto;
  margin-bottom: 1.5em;
  margin-left: auto;
  max-width: 200px;
  clear: both;
  width: 100%;
  @media (min-width: 600px) {
    display: inline-block;
    vertical-align: middle;
    clear: none;
    margin-right: 1em;
    margin-bottom: .9em;
  }
  @media (min-width: 850px) {
    float: left;
    width: 44%;
    &:nth-child(odd) {
      clear: both;
    }
  }

  @media (min-width: 875px) {
    width: 45%;
  }

  a {
    opacity: 1;
    transition: all 0.2s ease;
    @media (min-width: 850px) {
      opacity: .8;
    }
    &:hover,
    &:focus {
      outline: 0 none;
      opacity: 1;
    }
  }
}

.listItemYouTubeMusic {
  @media (min-width: 600px) {
    margin-top: -.9em;
  }
  @media (min-width: 850px) {
    margin-top: 0;
  }
}

.listItemAmazon {
  @media (min-width: 500px) {
    margin-bottom: 1.5em;
  }
  @media (min-width: 600px) {
    margin-top: .4em;
    margin-bottom: 2.4em;
  }

  @media (min-width: 850px) {
    margin-top: 0;
    margin-bottom: 1.5em;
  }
 
  img {
    border-radius: 8px;
    border: solid 1px #CCC;
  }
}

.listItemBandCamp {
  margin-top: -.7em;
  @media (min-width: 850px) {
    margin-top: 0;
  }
}

.listItemSpotify {
  margin-bottom: 1.6em;
  @media (min-width: 600px) {
  }
  @media (min-width: 850px) {
    margin-bottom: 1.5em;
    
  }
}
