.container {
  float: none;
  display: block;
  width: 100%;
  margin: 0 auto 2.3424em auto;
  @media (min-width: 600px) {
    text-align: center;
  }
  @media (min-width: 768px) {
    text-align: left;
    max-width: 322px;
    max-width: 100%;
    margin-bottom: 0;
  }
}

.listItem {
  margin: 1.1712em auto;
  max-width: 200px;
  clear: both;
  width: 100%;
  @media (min-width: 600px) {
    display: inline-block;
    vertical-align: middle;
    clear: none;
    width: 149px;
    margin-right: 1.1712em;
  }
  @media (min-width: 768px) {
    float: left;
    width: 125px;
  }
  @media (min-width: 785px) {
    width: 130px;
  }
  @media (min-width: 868px) {
    width: 149px;
  }

  a {
    opacity: 1;
    transition: all 0.2s ease;
    @media (min-width: 768px) {
      opacity: .75;
    }
    &:hover,
    &:focus {
      outline: 0 none;
      opacity: 1;
    }
  }
}

.listItemItunesPreOrder {
  width: 170px;
  max-width: 170px;
  float: none;
  margin-top: 1.1712em;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 768px) {
    float: left;
    width: 179px;
    max-width: 179px;
  }
  a {
    opacity: 1;
  }
}

.listItemGooglePlay {
  @media (min-width: 768px) {
    margin-right: 0;
    // width: 154px;
  }
  @media (min-width: 868px) {
    width: 154px;
  }
  // @media (min-width: 1000px) {
  //   width: 155px;
  // }
}

.listItemAmazon {
  clear: both;
  @media (min-width: 500px) {
    clear: none;
  }
  @media (min-width: 768px) {
    clear: both;
    margin-top: 0;
    margin-bottom: 2.3424em;
  }
  img {
    border-radius: 8px;
    border: solid 1px #FFF;
  }
}
