@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
@import './static/fonts/fontcustom';
@import './typography.scss';
@import './icons.scss';
@import './columns.scss';
@import './burger-menu.scss';
@import './form.scss';
@import './button.scss';
@import './layout.scss';
@import './mixins.scss';

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: #0A0A0A;
  color: #C5C5C5;
  height: 100%;
  font-family: Source Sans Pro, Arial,sans-serif;
  font-weight: normal;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: #E4E4E4;
  color: #000;
  text-shadow: none;
}

::-moz-selection {
  background-color: #E4E4E4;
  color: #000;
  text-shadow: none;
}

::-webkit-selection {
  background-color: #E4E4E4;
  color: #000;
  text-shadow: none;
}


img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.hidden {
  @include hidden;
} 

iframe {
  width: 100%;
}

.hide-md {
  @media (min-width: 768px) {
    display: none;
  }
}

.show-md {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}


// news styles for hard coded HTML
// originates from original news JSON/generated HTML
.image-max-width-400 {
  max-width: 400px;
}
.image-max-width-500 {
  max-width: 500px;
}
.image-max-width-600 {
  display: block;
  max-width: 600px;
}
.image-max-width-700 {
  display: block;
  max-width: 700px;
}
