@mixin hidden {
  border: 0;
  clip: rect(1px 1px 1px 1px); // IE6, IE7
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; 
}

@mixin h3 {
  font-size: 1.4em;
  margin-bottom: 0.5em;
  color: #fff;

  @media (min-width: 500px) {
    font-size: 1.5em;
  }

  @media (min-width: 600px) {
    font-size: 1.7em;
  }
}

@mixin h4 {
  font-size: 1.4em;
  margin-bottom: 0.5em;
  color: #fff;

  @media (min-width:768px) {
    font-size: 1.5em;
  }
}
