.blockquote {
  clear: both;
  margin: 0;
  font-size: 1.2em;
  font-style: italic;
  color: #e4e4e4;
  line-height: 1.7em;
  text-align: center;
  padding: 1.1712em;
  @media (min-width: 768px) {
    font-size: 1.4em;
    padding: 2.3424em 1.1712em;
  }
}

.copy {
  width: 80%;
  vertical-align: baseline;
}
.quote {
  color: #424242;
  font-size: 3em;
}
@media (min-width: 600px) {
  .quote {
    font-size: 4em;
  }
}
@media (min-width: 768px) {
  .quote {
    font-size: 5em;
  }
}
.quoteFirst {
  vertical-align: top;
  margin-bottom: -0.1em;
  margin-left: -0.45em;
}
@media (min-width: 600px) {
  .quoteFirst {
    margin-left: 0;
  }
}
.quoteLast {
  display: none;
  vertical-align: bottom;
  margin-bottom: -0.3em;
}
@media (min-width: 600px) {
  .quoteLast {
    display: inline-block;
  }
}
.author {
  display: block;
  font-style: normal;
  color: #c5c5c5;
  margin-left: 5.2%;
}
.blockquote {
  text-align: left;
  padding: 0;
  line-height: 1.3em;
  @media (min-width: 768px) {
    line-height: 1.7em;
  }
}

.inner,
.author {
  font-size: 0.75em;
}

.copy {
  text-align: left;
  width: 100%;
  padding-bottom: 0;
}
.inner {
  float: left;
  width: auto;
  max-width: 89%;
}
.quote {
  float: left;
  width: auto;
}
.quoteFirst {
  margin-left: -0.15em;
  margin-right: 0;
  width: 7%;
}
.quoteLast {
  display: inline-block;
  margin-top: 15px;
}
.inner {
  max-width: 86%;
}
.quote {
  font-size: 3em;
}
.quoteFirst {
  width: 9%;
}
.author {
  margin-left: 6.5%;
  clear: both;
}

.blockquoteMedium,
.blockquoteLarge {
  color: #C5C5C5;
  margin: 6em auto;

  p {
    margin-bottom: 2.3424em;
    &:last-child {
      margin-bottom: 1.1712em;
    }
  }

  .quote {
    font-size: 5em;
  }

  .author {
    text-align: center;
    color: #A7A7A7;
    margin-left: 0;
    padding-top: .8em;
  }
}

.blockquoteMedium {
  max-width: 710px;
  @media (min-width: 600px) {
    font-size: 1em;
  }

  .inner,
  .author {
    font-size: inherit;
  }
}

.blockquoteLarge {
  @media (min-width: 600px) {
    font-size: 1.2em;
  }

  .inner,
  .author {
    font-size: inherit;
  }
}

/*
  currently specific to About page.
*/
.centered {
  position: relative;
  .copy {
    text-align: center;
  }

  .quoteFirst {
    text-align: right;
  }

  .quoteLast {
    position: absolute;
    bottom: 80px;
    right: 50px;
  }
}

.highlightQuote {
  text-align: center;

  .inner {
    float: none;
  }

  .copy {
    font-size: 1.1em;
    color: #FFF;
    @media (min-width: 600px) {
      font-size: 1.3em;
    }
  }

  .quoteLast {
    right: 0;
    bottom: 0;
  }
}

.shortQuote {
  width: 90%;
  max-width: 340px;
  margin-top: 0;
  margin-bottom: 5em;
  @media (min-width: 600px) {
    max-width: 100%;
  }
  @media (min-width: 768px) {
    max-width: 380px;
  }
}

.longQuote {
  max-width: 800px;
  line-height: 2.2em;
  @media (min-width: 768px) {
    margin-bottom: 8em;
  }
  .quoteFirst {
    width: auto;
  }
}
